body
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
}

h1
{
  font-size: 4em;
  text-align: center;
}

h2
{
  font-size: 1.7em;
  text-align: center;
}


form
{
    width: 250px;
    margin: 0 auto;
}

.row .row
{
  margin-left: 0;
  margin-right: 15px;
}

.well.well-sm
{
  overflow-x: scroll;
}

@media(max-width: 501px)
{
  .row > div
{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}


.description
{
  min-height: 16px;
}
.title,
.description
{
  &:empty:after
{
    display: inline;
    font-style: italic;
    color: #bbb;
  }
}
.title:empty:after
{
  content: 'empty title';
}
.description:empty:after
{
  content: 'empty meta description';
}



.good
{
  color: green;
}
.bad
{
  color: red;
}
