body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

// Overwrite

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  text-align: center;
}

form {
  width: 250px;
  margin: 0 auto;
}


form.tagsForm
{
  width: 100%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-around;

  input
  {
    margin-left: 5px;
  }
}

table {
  width: 100%; 
}

tbody {
  border-bottom: 1px solid lightgray;
} 

.row {
  display: none;
}

.name {
  width: 80px;
  font-size: 12px;
  color: darkgray;
  vertical-align: top;
  user-select: none;
}

.row.link .data {
  font-style: italic;
}

@each $style in 'link', 'title', 'description', 'h1_tag', 'h2_tag'
{
  .#{$style}
  {
    .row.#{$style} 
    {
      display: table-row;
    }
  }
}
